*{
    margin: 0px;
    padding: 0px;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body{
    background-color: rgba(26, 11, 46, 1);
    color: white;
    max-width: 1440px;
}

/* nav related styles   */
#wv{
    background: linear-gradient(to right, rgba(145, 0, 248, 1), rgba(251, 9, 180, 1), rgba(247, 233, 63, 1));
    color: transparent;
    background-clip: text;
}

nav{
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3{
    font-size: 2.2rem;
}

#wv{
    color: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.menu{
    display: flex;
    gap: 32px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: white;
}

.btn-1{
    width: 135px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 12px 16px 12px 16px;
    border-radius: 100px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border: none;
}

.hemberger{
    display: none;
    margin-right: 15px;
}

/* hero section styles */

.hero-bg img{
    width: 100%;
    position: relative;
}

.circle img{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 23%;
    left: 37.5%;
}

.microphone{
    width: 200px;
    height: 200px; 
    position: absolute; 
    top: 25%;
    left: 42.6%;
}

.hero-info{
    text-align: center;
    /* position: absolute;
    bottom: 0%;
    left: 30%; */
}

.hero-info h1{
    font-size: 3.8rem;
    font-weight: 800;
}

.hero-info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
}

.hero-btn-1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
    border-radius: 100px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border: none;
}

.hero-btn-2{
    color: #00FF88;
    border: 2px solid #00FF88;
    border-radius: 100px;
    background-color: rgba(80, 79, 79, 0.137);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
}

.hero-btns{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 24px;
    margin-bottom: 150px;
}

.hero-details{
    margin-top: 0px;
}


/* about section styles */

.about{
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
.about h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.about p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}

/* data-card-container related styles */

.data-card-container{
    width: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.data-card h2{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    line-height: 58px;
    padding-bottom: 16px;
}

.data-card p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}

/* choose-section related css */
.section-heading{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
}

.choose-cotainer{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.box{
    background-color: rgba(53, 17, 101, 0.4);
}

#premium{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    border-radius: 40px;
}

#mobile{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 40px;
}

#global{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    border-radius: 40px;
}

#exclusive{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    border-radius: 40px;
}

#rich{
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    border-radius: 40px;
}

.card-title{
    font-style: Bold;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    margin: 16px 0;
}

.card-details{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

#exclusive h4{
    margin: 8px 0;
}

#rich h4{
    margin: 8px 0;
}

/* featured section related css */

.featured-container{
    width: 1200px;
    margin: 50px auto;
    display: flex;
    gap: 40px;
}

.featured-card{
    width: 380px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 0px 0px 24px 24px;
}

.time{
    margin-bottom: 24px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    color: #00FF88;
}

.ifram-details{
    padding: 24px;
}

/* host section styles */

.host-container{
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
}
.host-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 40px;
    
}

.host-name{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0%;
    padding-bottom: 16px;
}

.ellips{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social{
    display: flex;
    gap: 8px;
    margin-top: 16px;
}





/* small device responsive */
@media screen and (max-width:576px) {
    nav{
        width: 100%;
    }
    .btn-1, .menu{
        display: none;
    }

    .hemberger{
    display: inline;
}
}